<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<!-- import CSS -->
<link rel="stylesheet" href=../common/css/index.css>
<style type="text/css">
[v-cloak]{
            display: none;
        }
.el-card {
	width: 150px;
	float: left;
	margin-right: 5px;
}
.el-card__header {
	padding: 5px 8px;
	background-color: #409eff;
}
.el-card__body {
	padding: 15px 18px;
	background-color: #fafafa;
}
.clearfloat {
	clear:both;height:0;font-size:1px;line-height:0px;
}
</style>
</head>
<body>
<div id="app" v-cloak>
	<div>
	  	<el-select v-model="selectedTopicName" placeholder="请选择主题"
	  		@change="changeTopicName"
	  	>
			<el-option
				v-for="item in topicList"
				:key="item.value"
				:label="item.label"
				:value="item.value">
			</el-option>
		</el-select>
	</div>
	
	<div>
		<el-switch
			v-model="switchTopic"
			inactive-text="轮询开关"
			@change="changeSwitchTopic"
			>
		</el-switch>
	</div>
	
	<div>
		<el-card class="box-card">
			<div slot="header" class="clearfix">
				<span>返回时间</span>
			</div>
			<div class="text item">
				{{resTopicEle.returnTime}}
			</div>
		</el-card>
		
		<el-card class="box-card">
			<div slot="header" class="clearfix">
				<span>分区数量</span>
			</div>
			<div class="text item" v-if="resTopicEle.partitionList">
				{{resTopicEle.partitionList.length}}
			</div>
		</el-card>
		
		<el-card class="box-card">
			<div slot="header" class="clearfix">
				<span>消息总数</span>
			</div>
			<div class="text item">
				{{resTopicEle.logSize}}
			</div>
		</el-card>
		<div class="clearfloat"></div>
	</div>
	
	<div>
		<el-switch
			v-model="switchProducer"
			inactive-text="生产开关"
			@change="changeSwitchProducer"
			>
		</el-switch>
		<el-select v-model="produceNum" placeholder="每秒生产数量"
	  	>
			<el-option
				v-for="item in produceNumList"
				:key="item.value"
				:label="item.label"
				:value="item.value">
			</el-option>
		</el-select> 
		
		<el-tooltip placement="right-end">
			<div slot="content">警告，请谨慎操作生产开关<br/>您的业务项目是无法解析本页面生产的消息的</div>
			<i class="el-icon-warning"></i>
		</el-tooltip>
		
	</div>
	
	<div>
		<el-switch
			v-model="switchConsumer"
			inactive-text="消费开关"
			@change="changeSwitchConsumer"
			>
		</el-switch>
		<el-select v-model="consumeNum" placeholder="每秒消费数量"
			:disabled="consumeNumDisabled"
	  	>
			<el-option
				v-for="item in consumeNumList"
				:key="item.value"
				:label="item.label"
				:value="item.value">
			</el-option>
		</el-select> 
		
		<el-tooltip placement="right-end">
			<div slot="content">请随意操作消费开关<br/>每次打开都会新建全新的消费者组<br/>完全不会影响您的业务项目</div>
			<i class="el-icon-sunny"></i>
		</el-tooltip>
	</div>
	
	<div>
		<el-card class="box-card" v-for="(item, i) in partitionList">
			<div slot="header" class="clearfix">
				<span>分区编号：{{item.partition}}</span>
			</div>
			<div class="text item">
				位移：{{item.offset}}
			</div>
		</el-card>
	</div>	
	
	
	
</div>
</body>
<!-- import Vue before Element -->
<script src="../common/js/vue.js"></script>
<!-- import JavaScript -->
<script src="../common/js/index.js"></script>
<!-- import ajax -->
<script src="../common/js/axios.min.js"></script>
<script>
var vueApp = new Vue({
	el : '#app',
	data : function() {
		return {
			//下拉框勾选中的主题名称，当前的
			selectedTopicName : '',
			//下拉框，刚进本页面初始化之
      		topicList : [],
      		
      		//旧的勾选
      		oldTopicName : '',
      		//勾选中下拉框主题后，从后台查到的返回
      		resTopicEle : {},
      		//轮询ID
      		topicSetTimeoutId : '',
      		//轮询主题开关
      		switchTopic : true,
      		
      		//生产开关
      		switchProducer : false,
      		//每秒生产数量
      		produceNum : '',
      		
      		produceNumList: [{
                value: '1',
                label: '1'
              }, {
                value: '10',
                label: '10'
              }, {
                value: '100',
                label: '100'
              }, {
                value: '300',
                label: '300'
              }, {
                value: '500',
                label: '500'
             }],
             
           	//消费开关
       		switchConsumer : false,
       		//每秒消费数量
       		consumeNum : '',
       		//每秒消费数量，禁用
       		consumeNumDisabled : false,
       		consumeNumList: [{
                value: '1',
                label: '1'
              }, {
                value: '10',
                label: '10'
              }, {
                value: '100',
                label: '100'
              }, {
                value: '300',
                label: '300'
              }, {
                value: '500',
                label: '500'
            }],
            //消费者组ID
			currentGroupId : '', 
       		
			//消费分区
			partitionList : [],
			//轮询ID
      		partitionSetTimeoutId : '',
             
		} //return end
	}, //data end
     
	mounted : function() {
		this.getTopicList();
	},
     
	methods : {
		//阻断性提示，用户看完，自己关闭
		showAlert(title, msg) {
			this.$alert(msg, title, {
		          confirmButtonText: '确定'
		        });
		},
		
		//顶部的提示，属于不顺利的情况下，用户看看就好
		showTop(msg, position) {
			this.$message({
				dangerouslyUseHTMLString: true,
				type: 'info',
				message: '<strong>' + position + '</strong><br>' + msg
			});
		},
		
		//右侧提示，属于顺利情况下，业务提示
		showRight(title, msg, mstime) {
			var str = "<span style='float:left;text-align:left;'>" + msg + "</span>";
			msg = str;
			
			var that = this;
			//避免重叠的写法setTimeout
			window.setTimeout(() => {
				that.$notify.success({
					dangerouslyUseHTMLString: true,
		          	title: title,
		          	message: msg,
		          	showClose: false,
		          	duration: mstime
		        });
			}, 0)
	    },
		getTopicList : function() {
			var that = this;
			var url = '/topic/getTopicList';

			axios({
				method: 'post',
				url: url
  			  	})
			.then(function (res) {
				for (i in res.data) {
					let ele = {
						"label" : res.data[i],
						"value" : res.data[i]
					}
					that.topicList.push(ele);
				}
			})
			.catch(function (error) {
				that.showTop(error, '查询主题列表getTopicList');
			});
		},
   	  
		//勾选下拉框之后，最新的值
		changeTopicName : function(newTopicName) {
			//停止旧的轮询，记录新的
			this.clearLastChange(newTopicName);
			
			var that = this;
			var url = '/topic/getTopicDetail';

			let param = new URLSearchParams();
			param.append('topicName', newTopicName);
			
			axios({
				method: 'post',
				url: url,
				data: param
  			  	})
			.then(function (res) {
				that.resTopicEle = res.data;
				//继续调用
				that.changeTopicNamePeriodic(newTopicName);
			})
			.catch(function (error) {
				that.showTop(error, '查询主题详情changeTopicName');
			});
		},
		
		clearLastChange : function(newTopicName) {
			//第一次用，记录新的
			if(this.oldTopicName == '') {
				this.oldTopicName = newTopicName;
				return;
			}
			//下拉框没有变化
			if(this.oldTopicName == newTopicName) {
				return;
			}
			//下拉框变了
			if(this.oldTopicName != newTopicName) {
				
				//消费者是打开的
				if(this.switchConsumer == true) {
					this.showRight("强制关闭了旧主题" + this.oldTopicName + "的消费开关",
							'切换为新主题' + newTopicName,
							10000);
					//强制关闭消费
					this.switchConsumer = false;
					//强制触发change
					this.changeSwitchConsumer(false);
				}
				
				//停止旧的轮询
				window.clearTimeout(this.topicSetTimeoutId);
				//记录新的
				this.oldTopicName = newTopicName;
				
				return;
			}
		},
		
		changeTopicNamePeriodic(newTopicName) {
	    	var that = this;
	    	
	    	//switch开关打开，才有下一次
	    	if(that.switchTopic == true) {
				that.topicSetTimeoutId = window.setTimeout(() => {
					that.changeTopicName(newTopicName);
				}, 1000);
	    	}
	    },
	    
	    //轮询主题开关改变了
	    changeSwitchTopic(openOrNot) {
	    	var that = this;
	    	//下拉框从未勾选过。不论开关如何都无妨
	    	if(this.selectedTopicName == '') {
	    		return;
	    	}
	    	//开关关闭，会影响changeTopicNamePeriodic
	    	if(openOrNot == false) {
	    		return;
	    	}
	    	//开关打开
	    	if(openOrNot == true) {
	    		that.changeTopicName(that.selectedTopicName);
	    	}
	    },
	    
	    //生产开关改变了
	    changeSwitchProducer(openOrNot) {
	    	var that = this;
	    	
	    	if(that.selectedTopicName == '') {
	    		that.showTop("请选择主题", '警告！');
	    		window.setTimeout(() => {
	    			that.switchProducer = false;
				}, 500);
				return;
	    	}
	    	
	    	if(that.produceNum == '') {
	    		that.showTop("请选择每秒生产数量", '警告！');
	    		window.setTimeout(() => {
	    			that.switchProducer = false;
				}, 500);
				return;
	    	}
	    	//开了，去调用后台
	    	if(openOrNot == true) {
	    		that.realProduce();
	    	}
	    	//关了，that.switchProducer会变为false
	    	//导致下方realProducePeriodic会阻断
	    },
	    
	  	//打开生产开关之后
		realProduce : function() {
			var that = this;
			var url = '/producer/addNMsgs';

			let param = new URLSearchParams();
			param.append('topicName', that.selectedTopicName);
			param.append('num', that.produceNum);
			
			axios({
				method: 'post',
				url: url,
				data: param
  			  	})
			.then(function (res) {
				//继续调用
				that.realProducePeriodic();
			})
			.catch(function (error) {
				that.showTop(error, '生产消息realProduce');
			});
		},
		
		realProducePeriodic() {
	    	var that = this;
	    	
	    	//switch开关打开，才有下一次
	    	if(that.switchProducer == true) {
				window.setTimeout(() => {
					that.realProduce();
				}, 1000)
	    	}
	    },
		
		//消费开关改变了
	    changeSwitchConsumer(openOrNot) {
	    	var that = this;
	    	
	    	if(that.selectedTopicName == '') {
	    		that.showTop("请选择主题", '警告！');
	    		window.setTimeout(() => {
	    			that.switchConsumer = false;
				}, 500);
				return;
	    	}
	    	
	    	if(that.consumeNum == '') {
	    		that.showTop("请选择每秒消费数量", '警告！');
	    		window.setTimeout(() => {
	    			that.switchConsumer = false;
				}, 500);
				return;
	    	}
	    	//开了，去调用后台，新建消费者组
	    	if(openOrNot == true) {
	    		that.realConsume();
	    		
	    		//禁止修改数量
	    		that.consumeNumDisabled = true;
	    	}
			//关了，去调用后台，销毁消费者组
			if(openOrNot == false) {
				that.realDestoryConsume();
				
				//停止旧的轮询
				window.clearTimeout(that.partitionSetTimeoutId);
				//隐藏分区
				that.partitionList = [];
				
				//允许修改数量
				that.consumeNumDisabled = false;
			}
	    },
	    
	    realConsume : function() {
			var that = this;
			var url = '/consumer/createConsumerGroup';

			let param = new URLSearchParams();
			param.append('topicName', that.selectedTopicName);
			param.append('num', that.consumeNum);
			
			axios({
				method: 'post',
				url: url,
				data: param
  			  	})
			.then(function (res) {
				that.currentGroupId = res.data;
				//轮询
				that.getConsumerGroup();
			})
			.catch(function (error) {
				that.showTop(error, '新建消费者组realConsume');
			});
		},
	    
		realDestoryConsume : function() {
			var that = this;
			var url = '/consumer/deleteConsumerGroup';

			let param = new URLSearchParams();
			param.append('groupId', that.currentGroupId);
			
			axios({
				method: 'post',
				url: url,
				data: param
  			  	})
			.then(function (res) {
				
			})
			.catch(function (error) {
				that.showTop(error, '销毁消费者组realDestoryConsume');
			});
		},		
		
		getConsumerGroup : function() {
			var that = this;
			var url = '/consumer/getConsumerGroup';

			let param = new URLSearchParams();
			param.append('groupId', that.currentGroupId);
			
			axios({
				method: 'post',
				url: url,
				data: param
  			  	})
			.then(function (res) {
				that.partitionList = res.data;
				//继续调用
				that.getConsumerGroupPeriodic();
			})
			.catch(function (error) {
				that.showTop(error, '查看消费者组getConsumerGroup');
			});
		},
		
		getConsumerGroupPeriodic() {
	    	var that = this;
	    	
	    	//switch开关打开，才有下一次
	    	if(that.switchConsumer == true) {
				that.partitionSetTimeoutId = window.setTimeout(() => {
					that.getConsumerGroup();
				}, 1000);
	    	}
	    },
		
		
		
	    
	} //methods end
}) //new Vue end

</script>
</html>