<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<!-- import CSS -->
<link rel="stylesheet" href="../common/css/index.css">
<style type="text/css">
[v-cloak]{
            display: none;
        }
.el-table--striped .el-table__body tr.el-table__row--striped.current-row td, .el-table__body tr.current-row>td {
    background-color: #FF8C00!important;
}
.el-drawer__header {
	padding: 0px;
	margin-bottom: 0px;
	height: 0px;
}
.el-card {
	width: 150px;
	float: left;
	margin-right: 5px;
}
.el-card__header {
	padding: 5px 8px;
	background-color: #409eff;
}
.el-card__body {
	padding: 15px 18px;
	background-color: #fafafa;
}
.clearfloat {
	clear:both;height:0;font-size:1px;line-height:0px;
}
</style>
</head>
<body>
<div id="app" v-cloak>
	<el-table :data="tableData" height="450" border stripe 
		style="width: 100%"
		highlight-current-row
		@current-change="handleCC"
		@selection-change="handleSC"
		v-loading="loading"
		:element-loading-text="elementLoadingText"
		element-loading-spinner="el-icon-loading"
		element-loading-background="rgba(0, 0, 0, 0.8)"
		>
		<el-table-column
      		type="selection"
      		min-width="55">
    	</el-table-column>
		<el-table-column label="序号"
			type="index"
			width="55">
		</el-table-column>
		<el-table-column label="listenerId" min-width="80">
			<template slot-scope="scope">
				{{scope.row.listenerId}}
			</template>
		</el-table-column>
		<el-table-column label="concurrency" min-width="80">
			<template slot-scope="scope">
				{{scope.row.concurrency}}
			</template>
		</el-table-column>
		<el-table-column label="分区" min-width="80">
			<template slot-scope="scope">
				{{scope.row.topicPartitions}}
			</template>
		</el-table-column>
		<el-table-column label="是否暂停" min-width="80">
			<template slot-scope="scope">
				<span v-if="scope.row.containerPaused == true">
					<img src="../common/img/right.png" width="25" height="25" />
				</span>
				<span v-if="scope.row.containerPaused == false">
					<img src="../common/img/wrong.png" width="25" height="25" />
				</span>
			</template>
		</el-table-column>
		<el-table-column label="是否自动启动" min-width="80">
			<template slot-scope="scope">
				<span v-if="scope.row.autoStartup == true">
					<img src="../common/img/right.png" width="25" height="25" />
				</span>
				<span v-if="scope.row.autoStartup == false">
					<img src="../common/img/wrong.png" width="25" height="25" />
				</span>
			</template>
		</el-table-column>
		<el-table-column label="是否运行" min-width="80">
			<template slot-scope="scope">
				<span v-if="scope.row.running == true">
					<img src="../common/img/right.png" width="25" height="25" />
				</span>
				<span v-if="scope.row.running == false">
					<img src="../common/img/wrong.png" width="25" height="25" />
				</span>
			</template>
		</el-table-column>
		
		<el-table-column label="操作" min-width="150" align="center">
			<template slot="header" slot-scope="scope">
				操作
			</template>
		
			<template slot-scope="scope">
				<el-button
					v-if="scope.row.containerPaused == false" 
					round size="mini" 
					@click="pause(scope.row)">暂停</el-button>
				<el-button
					v-if="scope.row.containerPaused == true" 
					round size="mini" 
					@click="resume(scope.row)">恢复</el-button>
				<el-button
					v-if="scope.row.running == true" 
					round size="mini" 
					@click="stop(scope.row)">关闭</el-button>
				<el-button
					v-if="scope.row.running == false" 
					round size="mini" 
					@click="start(scope.row)">启动</el-button>
					
				<el-button
					round size="mini" 
					@click="showContainerProperties(scope.row)">查看属性</el-button>
					
				<el-button
					round size="mini" 
					@click="showMetric(scope.row)">查看度量</el-button>
					
					
					
			</template>
		</el-table-column>
		
	</el-table>		
	
	<el-drawer
		title=""
		:visible.sync="showP"
		direction="ltr"
		size="50%">
			<el-table :data="pData"
				height="95%"
				>
				<el-table-column property="name" label="属性" width="200"></el-table-column>
				<el-table-column property="value" label="值"></el-table-column>
			</el-table>
	</el-drawer>	
	
	<el-dialog title="度量信息" :visible.sync="metricVisible"
		:fullscreen="fullscreen"
		>
		
		<el-tabs type="border-card">
			<el-tab-pane :label="key" v-for="(value, key) in metricMap">
			
				<el-tabs>
					<el-tab-pane :label="key2" v-for="(value2, key2) in value">
					
						<el-card class="box-card" v-for="(item, i) in value2">
							<div slot="header" class="clearfix">
								<span>{{item.name}}</span>
							</div>
							<div>
								{{item.desc}}
							</div>
							<div style="background-color: #FF9900;">
								{{item.value}}
							</div>
						</el-card>
					
					</el-tab-pane>
				</el-tabs>
				
			</el-tab-pane>
		</el-tabs>
		
	
	</el-dialog>
</div>
</body>
<!-- import Vue before Element -->
<script src="../common/js/vue.js"></script>
<!-- import JavaScript -->
<script src="../common/js/index.js"></script>
<!-- import ajax -->
<script src="../common/js/axios.min.js"></script>
<script>
var vueApp = new Vue({
	el : '#app',
	data : function() {
		return {
      		tableData : [], //列表数据
			
      		currentRow : null, //点击中的行，用于高亮选中行
      		checkboxList : [], //复选框选中的数据
      		
      		loading : false, //loading层弹出开关
      		elementLoadingText : '', //loading提示
      		
      		showP : false, //展示属性开关
			pData : [], //属性列表
			
			metricVisible : false, //度量开关
			metricMap : {}, //度量
      		
			fullscreen : true, //是否全屏
			
		} //return end
	}, //data end
     
	mounted : function() {
		this.query();
	},
     
	methods : {
		//阻断性提示，用户看完，自己关闭
		showAlert(title, msg) {
			this.$alert(msg, title, {
		          confirmButtonText: '确定'
		        });
		},
		
		//顶部的提示，属于不顺利的情况下，用户看看就好
		showTop(msg, position) {
			this.$message({
				dangerouslyUseHTMLString: true,
				type: 'info',
				message: '<strong>' + position + '</strong><br>' + msg
			});
		},
		
		//右侧提示，属于顺利情况下，业务提示
		showRight(title, msg, mstime) {
			var str = "<span style='float:left;text-align:left;'>" + msg + "</span>";
			msg = str;
			
			var that = this;
			//避免重叠的写法setTimeout
			window.setTimeout(() => {
				that.$notify.success({
					dangerouslyUseHTMLString: true,
		          	title: title,
		          	message: msg,
		          	showClose: false,
		          	duration: mstime
		        });
			}, 0)
	    },
   	  
		handleCC(row) {
	    	this.currentRow = row;
	    },
	    
	    handleSC(selection) {
	    	this.checkboxList = selection;
	    },
		
	    query : function() {
			var that = this;
			var url = '/kafkalistener/list';

			axios({
				method: 'post',
				url: url
  			  	})
			.then(function (res) {
				that.tableData = res.data;
			})
			.catch(function (error) {
				that.showTop(error, '查询监听列表query');
			});
		},
	    
		pause(row) {
	    	var that = this;
	        this.$confirm('是否暂停？', '提示', {
				dangerouslyUseHTMLString: true,
				confirmButtonText: '确定',
				cancelButtonText: '取消',
				type: 'warning'
	        }).then(() => {
	        	that.elementLoadingText="拼命暂停中";
	        	that.pauseReal(row);
	        	that.loadChange();
	        }).catch((error) => {
	        	that.showTop(error, "暂停pause");
	        });
	    },
	    pauseReal(row) {
	    	var that = this;
			var url = '/kafkalistener/pause';

			let param = new URLSearchParams();
			param.append('listenerId', row.listenerId);
			
			axios({
				method: 'post',
				url: url,
				data: param
  			  	})
			.then(function (res) {
				
			})
			.catch(function (error) {
				that.showTop(error, '暂停pauseReal');
			});
	    },
		loadChange() {
	    	var that = this;
	    	this.loading = true;
	    	window.setTimeout(() => {
	    		that.loading = false;
	    		that.query();
			}, 5000);
	    },
	    
	    resume(row) {
	    	var that = this;
	        this.$confirm('是否恢复？', '提示', {
				dangerouslyUseHTMLString: true,
				confirmButtonText: '确定',
				cancelButtonText: '取消',
				type: 'warning'
	        }).then(() => {
	        	that.elementLoadingText="拼命恢复中";
	        	that.resumeReal(row);
	        	that.loadChange();
	        }).catch((error) => {
	        	that.showTop(error, "恢复resume");
	        });
	    },
	    resumeReal(row) {
	    	var that = this;
			var url = '/kafkalistener/resume';

			let param = new URLSearchParams();
			param.append('listenerId', row.listenerId);
			
			axios({
				method: 'post',
				url: url,
				data: param
  			  	})
			.then(function (res) {
				
			})
			.catch(function (error) {
				that.showTop(error, '恢复resumeReal');
			});
	    },	   
	    
	    stop(row) {
	    	var that = this;
	        this.$confirm('是否关闭？', '提示', {
				dangerouslyUseHTMLString: true,
				confirmButtonText: '确定',
				cancelButtonText: '取消',
				type: 'warning'
	        }).then(() => {
	        	that.elementLoadingText="拼命关闭中";
	        	that.stopReal(row);
	        	that.loadChange();
	        }).catch((error) => {
	        	that.showTop(error, "关闭stop");
	        });
	    },
	    stopReal(row) {
	    	var that = this;
			var url = '/kafkalistener/stop';

			let param = new URLSearchParams();
			param.append('listenerId', row.listenerId);
			
			axios({
				method: 'post',
				url: url,
				data: param
  			  	})
			.then(function (res) {
				
			})
			.catch(function (error) {
				that.showTop(error, '关闭stopReal');
			});
	    },
	    
	    start(row) {
	    	var that = this;
	        this.$confirm('是否启动？', '提示', {
				dangerouslyUseHTMLString: true,
				confirmButtonText: '确定',
				cancelButtonText: '取消',
				type: 'warning'
	        }).then(() => {
	        	that.elementLoadingText="拼命启动中";
	        	that.startReal(row);
	        	that.loadChange();
	        }).catch((error) => {
	        	that.showTop(error, "启动start");
	        });
	    },
	    startReal(row) {
	    	var that = this;
			var url = '/kafkalistener/start';

			let param = new URLSearchParams();
			param.append('listenerId', row.listenerId);
			
			axios({
				method: 'post',
				url: url,
				data: param
  			  	})
			.then(function (res) {
				
			})
			.catch(function (error) {
				that.showTop(error, '启动startReal');
			});
	    },	    
	    
	    showContainerProperties(row) {
	    	var ele = row.containerProperties;
	    	this.pData = [];
	    	
	    	var attr = {};
	    	attr.name = "topics";
	    	attr.value = ele.topics;
	    	this.pData.push(attr);
	    	var attr2 = {};
	    	attr2.name = "topicPattern";
	    	attr2.value = ele.topicPattern;
	    	this.pData.push(attr2);
	    	var attr3 = {};
	    	attr3.name = "topicPartitionsToAssign";
	    	attr3.value = ele.topicPartitionsToAssign;
	    	this.pData.push(attr3);
	    	var attr4 = {};
	    	attr4.name = "pollTimeout";
	    	attr4.value = ele.pollTimeout;
	    	this.pData.push(attr4);
	    	var attr5 = {};
	    	attr5.name = "groupId";
	    	attr5.value = ele.groupId;
	    	this.pData.push(attr5);
	    	var attr6 = {};
	    	attr6.name = "clientId";
	    	attr6.value = ele.clientId;
	    	this.pData.push(attr6);
	    	var attr7 = {};
	    	attr7.name = "consumerRebalanceListener";
	    	attr7.value = ele.consumerRebalanceListener;
	    	this.pData.push(attr7);
	    	var attr8 = {};
	    	attr8.name = "syncCommitTimeout";
	    	attr8.value = ele.syncCommitTimeout;
	    	this.pData.push(attr8);
	    	var attr9 = {};
	    	attr9.name = "commitCallback";
	    	attr9.value = ele.commitCallback;
	    	this.pData.push(attr9);
	    	var attr10 = {};
	    	attr10.name = "syncCommits";
	    	attr10.value = ele.syncCommits;
	    	this.pData.push(attr10);
	    	var attr11 = {};
	    	attr11.name = "commitLogLevel";
	    	attr11.value = ele.commitLogLevel;
	    	this.pData.push(attr11);
	    	var attr12 = {};
	    	attr12.name = "kafkaConsumerProperties";
	    	attr12.value = ele.kafkaConsumerProperties;
	    	this.pData.push(attr12);
	    	var attr13 = {};
	    	attr13.name = "micrometerTags";
	    	attr13.value = ele.micrometerTags;
	    	this.pData.push(attr13);
	    	var attr14 = {};
	    	attr14.name = "ackMode";
	    	attr14.value = ele.ackMode;
	    	this.pData.push(attr14);
	    	var attr15 = {};
	    	attr15.name = "ackCount";
	    	attr15.value = ele.ackCount;
	    	this.pData.push(attr15);
	    	var attr16 = {};
	    	attr16.name = "ackTime";
	    	attr16.value = ele.ackTime;
	    	this.pData.push(attr16);
	    	var attr17 = {};
	    	attr17.name = "messageListener";
	    	attr17.value = ele.messageListener;
	    	this.pData.push(attr17);
	    	var attr18 = {};
	    	attr18.name = "consumerTaskExecutor";
	    	attr18.value = ele.consumerTaskExecutor;
	    	this.pData.push(attr18);
	    	var attr19 = {};
	    	attr19.name = "shutdownTimeout";
	    	attr19.value = ele.shutdownTimeout;
	    	this.pData.push(attr19);
	    	var attr20 = {};
	    	attr20.name = "ackOnError";
	    	attr20.value = ele.ackOnError;
	    	this.pData.push(attr20);
	    	var attr21 = {};
	    	attr21.name = "idleEventInterval";
	    	attr21.value = ele.idleEventInterval;
	    	this.pData.push(attr21);
	    	var attr22 = {};
	    	attr22.name = "transactionManager";
	    	attr22.value = ele.transactionManager;
	    	this.pData.push(attr22);
	    	var attr23 = {};
	    	attr23.name = "monitorInterval";
	    	attr23.value = ele.monitorInterval;
	    	this.pData.push(attr23);
	    	var attr24 = {};
	    	attr24.name = "scheduler";
	    	attr24.value = ele.scheduler;
	    	this.pData.push(attr24);
	    	var attr25 = {};
	    	attr25.name = "noPollThreshold";
	    	attr25.value = ele.noPollThreshold;
	    	this.pData.push(attr25);
	    	var attr26 = {};
	    	attr26.name = "logContainerConfig";
	    	attr26.value = ele.logContainerConfig;
	    	this.pData.push(attr26);
	    	var attr27 = {};
	    	attr27.name = "missingTopicsFatal";
	    	attr27.value = ele.missingTopicsFatal;
	    	this.pData.push(attr27);
	    	var attr28 = {};
	    	attr28.name = "idleBetweenPolls";
	    	attr28.value = ele.idleBetweenPolls;
	    	this.pData.push(attr28);
	    	var attr29 = {};
	    	attr29.name = "micrometerEnabled";
	    	attr29.value = ele.micrometerEnabled;
	    	this.pData.push(attr29);
	    	var attr30 = {};
	    	attr30.name = "consumerStartTimout";
	    	attr30.value = ele.consumerStartTimout;
	    	this.pData.push(attr30);
	    	var attr31 = {};
	    	attr31.name = "consumerProperties";
	    	attr31.value = ele.consumerProperties;
	    	this.pData.push(attr31);
	    	var attr32 = {};
	    	attr32.name = "topicPartitions";
	    	attr32.value = ele.topicPartitions;
	    	this.pData.push(attr32);

	    	
	    	this.showP = true;
	    },
	    
	    showMetric(row) {
	    	this.metricVisible = true;
	    	
	    	var map = row.metricMap;
	    	this.metricMap = map;
	    	
	    	
	    }
	    
	} //methods end
}) //new Vue end

</script>
</html>